<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                Barbería Vargas
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/citas}">Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/servicios}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inventario}">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning fw-bold" th:href="@{/ventas}">Nueva Venta</a>
                    </li>
                </ul>
                <div class="text-white align-items-center">
                    <span>Usuario: Admin Vargas</span>
                </div>
            </div>
        </div>
    </nav>